{% extends 'base.html' %} {% block content %}
{% load static %}





<!-- ========================= SECTION MAIN ========================= -->
<section class="section-intro padding-y-sm">
<div class="container-fluid">

<div class="intro-banner-wrap">
	<img src="{% static 'images/banners/1.jpg'%}" class="img-fluid rounded" style="height:550px; width:100%">
</div>

</div> <!-- container //  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name padding-y-sm">
<div class="container">

<header class="section-heading">
	<a href="{% url 'product'%}" class="btn btn-outline-primary float-right">See all</a>
	<h3 class="section-title">Popular products</h3>
</header><!-- sect-heading -->

	
<div class="row">
	{% for product in products %}
	<div class="col-md-3">
		<div class="card card-product-grid">
			{% if product.images%}
			<a href="{% url 'products_detail' product.id %}" class="img-wrap"> <img src="{{ product.images.url }}"></a>
			{% endif%}
			<figcaption class="info-wrap">
				<a href="{% url 'products_detail' product.id %}" class="title">{{ product.product_name }}</a>
				<div class="price mt-1">{{ product.price }} FCFA</div> <!-- price-wrap.// -->
			</figcaption>
		</div>
	</div> <!-- col.// -->
	{% endfor %}
	
</div> <!-- row.// -->

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->






</body>
</html>

{% endblock %}