 <!-- Navbar -->
 
 <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
  <div class="container-fluid py-1 px-3">
    {% if user.is_authenticated %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
        <li class="breadcrumb-item text-sm text-dark active" aria-current="page"><a class="opacity-5 text-dark" href="{% url 'dashboard' %}">Dashboard</a></li>
      </ol>
      <h6 class="font-weight-bolder mb-0">Dashboard</h6>
    </nav>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <div class="input-group input-group-outline">
          <form class="d-flex search" action="{% url 'search'%}" method="GET">
            <input class="form-control me-2" type="search" style="width:60%;" placeholder="Rechercher Produit" name="keyword">
            <button class="btn btn-outline-primary" type="submit">Recherche</button>
          </form>
        </div>
      </div> 
      <ul class="navbar-nav  justify-content-end">
        {% comment %} <li class="nav-item d-flex align-items-center">
          <a href="{% url 'home' %}" class="nav-link text-body font-weight-bold px-0">
            <span class="d-sm-inline d-none" style="padding-left:10px;">Visité le site</span>
          </a>
        </li> {% endcomment %}
       
        
        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </a>
        </li>
        <li class="nav-item px-3 d-flex align-items-center">
          {% comment %} <a href="javascript:;" class="nav-link text-body p-0">
            <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
          </a> {% endcomment %}
        </li>
        <li class="nav-item dropdown pe-2 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user cursor-pointer"></i>
          </a>
          <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
            
            <li class="nav-item d-flex align-items-center">
              <a href="#" class="nav-link text-body font-weight-bold px-0">
                <i class="fa-solid fa-user"></i>
                <span class="d-sm-inline d-none">&nbsp;Mon profil</span>
              </a>
            </li>
            <li class="nav-item d-flex align-items-center">
              <a href="{% url 'user-logout' %}" class="nav-link text-body font-weight-bold px-0">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="d-sm-inline d-none">&nbsp;Déconnexion</span>
              </a>
            </li>
            
      </ul>

      {% else%}
      
    {% endif %}
  </div>
</nav>
<!-- End Navbar -->