{% extends 'layout/base.html' %}
{% comment %} {% block title %}Register Page{% endblock %} {% endcomment %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h4>Register Page</h4>
            <hr>
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                {% comment %} {{ form }} {% endcomment %}
                <input class="btn btn-success" type="submit" value="Register">&nbsp;&nbsp; Avez-vous déjà un compte ? <a href="{% url 'user-login' %}" class="text-body font-weight-bold px-0">Se connecter</a>
            </form>
        </div>
    </div>
</div>


{% endblock %}